<div class="jumbotron">
	<h1 class="text-center">Counters++</h1>
</div>
<div class="container center">
<div id='counter_list' data-bind="foreach: counters">

	<div class='row'>
		<span class="counter-info"><span data-bind="text: name"></span>,<span data-bind="text: count"></span></span>
		<a class="btn btn-default increment">+1</a>
		<a class="btn btn-default delete">Delete</a>
	</div>

</div>
<br />
<%= render partial: "new_counter", locals: {new_counter: @new_counter} %>
</div>


<script>
counters_json = <%= (@vm.to_json.html_safe) %>;

var counters_mapping = {
    'counters': {
        key: function(data) {
            return ko.utils.unwrapObservable(data.id);
        }
    }
}

var viewModel = ko.mapping.fromJS(counters_json, counters_mapping);
ko.applyBindings(viewModel);

</script>